<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Olist</title>
</head>
<body>
    <h1> Calculadora Olist </h1>
    <ol>
        <li>
            <a href = "/soma" > Somar </a>
        </li>
        <li>
            <a href = "/subtracao" > Subtrair </a>
        </li>
        <li>
            <a href = "/multiplicacao" > Multiplicar</a>
        </li>
        <li>
            <a href = "/divisao" > Dividir </a>
        </li>
    </ol>
</body>
</html>

